/* HTML Structure:
Category Section:

Below the category section div:

Add another div with the class "category-section".
Library:

Inside the category section div:

Add a span <span> with the class "category" and the text content of "Library".
Inside the category span before text content:

Add another span with the class "material-symbols-outlined" and text content of "video_library".
History:

Below the category span:

Add a span <span> with the class "category" and the text content of "History".
Inside the second category span before text content:

Add another span with the class "material-symbols-outlined" and text content of "history".
Your Videos:

Below the second category span:

Add a span <span> with the class "category" and the text content of "Your videos".
Inside the third category span before text content:

Add another span with the class "material-symbols-outlined" and text content of "video_label".
Watch Later:

Below the third category span:

Add a span <span> with the class "category" and the text content of "Watch later".
Inside the fourth category span before text content:

Add another span with the class "material-symbols-outlined" and text content of "watch_later".
See More:

Below the fourth category span:

Add a span <span> with the class "category" and the text content of "See more".
Inside the fifth category span before text content:

Add another span with the class "material-symbols-outlined" and text content of "expand_more".


CSS Styling:
Style the category section (.category-section):

Add border-bottom of "1px solid rgb(153, 153, 153)".
Add 15px padding vertically like that "padding: 15px 0;".
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.material-symbols-outlined {
  color: #606060;
  margin-right: 10px;
}

.mainbody {
  height: 600px;
  width: 200px;
}
.categories {
  height: 600px;
  width: 200px;
  background-color: rgb(255, 255, 255);
}
.category {
  width: 200px;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.category:hover {
  background-color: rgb(249, 249, 249);
}
.active {
  background-color: rgb(208, 208, 208);
  font-weight: 500;
}
.active:hover {
  background-color: rgb(208, 208, 208);
}
.material-symbols-outlined {
  margin-right: 24px;
}
.active .material-symbols-outlined {
  color: rgb(255, 0, 0);
}

/* Your code here  */
.category-section {
  border-bottom: 1px solid rgb(153, 153, 153);
  padding: 15px 0;
}