* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .searchbar {
    display: flex;
}